<div class="container-fluid justify-content-center">
    <h5 class="header">Welcome to Reactive Forms</h5>
    <div class="container mt-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h5 class="header">Welcome to Reactive Forms</h5>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                                <label for ="name">UserName:</label>
                                <input class="text-dark" type="text" id="name" formControlName="name">
                        </div>
                        <div class="text-danger" *ngIf="myForm.controls?.['name']?.touched">
                        <span *ngIf="myForm.controls?.['name']?.errors?.['required']" class="bi-info-circle"> 
                                This field is mandatory!
                        </span>

                        </div>
                        <div class="row">
                                <label for ="Email">Email:</label>
                                <input type="email" id="email" formControlName="email">
                        </div>
                        <div class="row">
                                <label for ="Password">Password:</label>
                                <input type="password" id="pwd" formControlName="password">
                            </div>
                            <hr class="bi-dash">
                                <button class="btn btn-success" type="submit">Submit</button>
                        
                        
                            </form> 
                </div>
            </div>
        </div>

</div>

