<div *ngFor="let eachMaps of MAPS">
    <!-- <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h3>Box 1</h3>
                    <p>This is the content of the first box.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h3>Box 2</h3>
                    <p>This is the content of the second box.</p>
                </div>
            </div>
        </div>
      </div> -->
    <button class="btn btn-success" (click)="onclick(eachMaps)"><a>{{eachMaps}}</a></button>
    <hr class="divider">
</div>


<div *ngFor="let eachsubjects of SUBJECTS">
    <!-- <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h3>Box 1</h3>
                    <p>This is the content of the first box.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h3>Box 2</h3>
                    <p>This is the content of the second box.</p>
                </div>
            </div>
        </div>
      </div> -->
    <button class="btn btn-warning" (click)="onclick2(eachsubjects)"><a>{{eachsubjects}}</a></button>
    <hr class="divider">
</div>


